@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <div>
            <img src="~/img/bantrab-mobile.png" class="img-fluid rounded">
        </div>
        <h1 class="display-4">Bienvenido</h1>
        <p>
            En el siguiente link podrás ver la resolución de la prueba asignada en formato ASP.NET WEB
        </p>
        <a class="btn btn-primary" asp-controller="Matriz" asp-action="Index">Iniciar prueba</a>
    </div>
</div>
